/* smiley guy and ads */
.top-banner,
.sale,
.sales,
.banners-wrap,
.web-results-sale,
.ads,
.advrts {
  display: none !important;
}
.related-searches-list > ul > li {
  display: inline !important;
  padding-right: 20px !important;
}
